{% extends "network/layout.html" %}
{% load static %}
{% block body %}

<div class="w-75 m-auto">



  {% comment %} new post  {% endcomment %}
 <div>
<form method="post" enctype="multipart/form-data">
   {% csrf_token %}
   {{ form.as_p }}
   <input class="btn btn-primary" type="submit" value="add"/>
  </form>
</div>


<div id="view-post">
    <h1 id="page-title">  <h1>
    {% comment %}  view all post here  {% endcomment %}
</div>
</div>

<div id="content"> <!-- This is the element we want to update -->
  <!-- Initial content -->
  <p>This content will be updated dynamically.</p>
</div>
<button onclick="updateContent()">Update Content</button>

{% endblock %}

{% block script %}

    <script src="{% static 'network/js.js' %}"> </script>
{% endblock %}