{% extends "network/layout.html" %}
{% load static %}
{% block body %}


<div class="header">
  <h1 id="page-title"></h1>

</div>
{% comment %} continer from 2 rows {% endcomment %}

  <div class="row">

    <div class="side">
      <div class="fakeimg" style="height:200px;" >
        <div id="userDatiles" > </div>
        </div>
      
      <div class="fakeimg" style="height:60px;">Image</div><br>
      <div class="fakeimg" style="height:60px;">Image</div><br>
      <div class="fakeimg" style="height:60px;">Image</div><br>
    </div>

    <div class="main">

 {% comment %} alert netfection {% endcomment %}
  <div id="alert" style="display:none"> </div>

      {% comment %} new post {% endcomment %}
  {% if user.is_authenticated %}
  <input type="number" value="{{request.user.id}}"  id="userid" hidden >

  <div id="newPost_div">
    <form id="posts-form">  
      <div class="form-group">
        <label for="newPost"> New Post </label>
        <textarea class="form-control" id="newPost" rows="3"></textarea>
        <input class="btn btn-primary m-1 " type="submit" id="addPost" value="Post">
      </div>
    </form>
  </div>
  {% else %}
  <input type="text " value="no"  id="userid" hidden>
  {% endif %}

       {% comment %} end new post {% endcomment %}

      {% comment %} view post {% endcomment %}
     
      <div id="view-post" class="mainIteam">

      </div>
      {% comment %}end view all post here {% endcomment %}
     </div>


    
    <div class="sideright">
      <div class="fakeimg" style="height:200px;">Image</div>
    </div>


  </div>
  {% comment %} <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav> {% endcomment %}

{% comment %} 
  {% for contact in page_obj %}
    {# Each "contact" is a Contact model object. #}
    {{ contact.full_name|upper }}<br>
    ...
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div> {% endcomment %}


{% if items_page %}
    {% for item in items_page %}
        <div class="card mb-1">
            <div class="card-body">
                <p class="card-title">{{ item.title }}</p>
            </div>
        </div>
    {% endfor %}

    {% if items_page.has_other_pages %}
        <div class="btn-group" role="group" aria-label="Item pagination">
            {% if items_page.has_previous %}
                <a href="?page={{ items_page.previous_page_number }}" class="btn btn-outline-primary">«</a>
            {% endif %}
            {% for page_number in items_page.paginator.page_range %}
                {% if items_page.number == page_number %}
                    <button class="btn btn-outline-primary active">
                        <span>{{ page_number }} <span class="sr-only">(current)</span></span>
                    </button>
                {% else %}
                    <a href="?page={{ page_number }}" class="btn btn-outline-primary">{{ page_number }}</a>
                {% endif %}
            {% endfor %}
            {% if items_page.has_next %}
                <a href="?page={{ items_page.next_page_number }}" class="btn btn-outline-primary">»</a>
            {% endif %}
        </div>
    {% endif %}
{% else %}
    <p>No items found.</p>
{% endif %}
{% endblock %}

{% block script %}

<script src="{% static 'network/js.js' %}"> </script>
{% endblock %}