{% extends "network/layout.html" %}
{% load static %}
{% block body %}


<div class="header">
  <h1 id="page-title"></h1>

</div>
{% comment %} continer from 2 rows {% endcomment %}

  <div class="row">

    <div class="side">
      <div class="fakeimg" style="height:200px;" >
        <div id="userDatiles" > </div>
        </div>
      
      <div class="fakeimg" style="height:60px;">

      </div><br>
      {% comment %} <div id="data-container">
        <!-- Paginated data will be displayed here -->
      </div>
      
      <div id="pagination-container">
        <!-- Pagination links will be displayed here -->
      </div> {% endcomment %}
      
      <div class="fakeimg" style="height:60px;">Image</div><br>
      <div class="fakeimg" style="height:60px;">Image</div><br>
    </div>

    <div class="main">

 {% comment %} alert netfection {% endcomment %}
  <div id="alert" style="display:none"> </div>

      {% comment %} new post {% endcomment %}
  {% if user.is_authenticated %}
  <input type="number" value="{{request.user.id}}"  id="userid" hidden >

  <div id="newPost_div">
    <form id="posts-form">  
      <div class="form-group">
        <label for="newPost"> New Post </label>
        <textarea class="form-control" id="newPost" rows="3"></textarea>
        <input class="btn btn-primary m-1 " type="submit" id="addPost" value="Post">
      </div>
    </form>
  </div>
  {% else %}
  <input type="text " value="no"  id="userid" hidden>
  {% endif %}

       {% comment %} end new post {% endcomment %}

      {% comment %} view post {% endcomment %}
     
      <div id="view-post" class="mainIteam">

      </div>
      {% comment %}end view all post here {% endcomment %}
    </div>





{% endblock %}

{% block script %}

<script  src="{% static 'network/js.js' %}"> </script>
{% endblock %}